{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}

	<li class="nav-header">
		{{- 'sidebar.header.navigation' | trans({}, 'CCDNUserMemberBundle') -}}
	</li>

	<li class="active">
		<a href="{{- path('ccdn_user_member_index') -}}">
			<i class="icon-white icon-th-list"></i>
			{{- 'link.members' |trans({}, 'CCDNUserMemberBundle') -}}
		</a>
	</li>

{%- endspaceless -%}
